<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find tiago_2dnav_gazebo)/launch/tiago_navigation.launch">
      <arg name="public_sim"      value="true"/>
      <arg name="robot"  value="steel"/>
    </include>
    <node name="test_arm" pkg="simple_navigation_goals" type="test_arm" output="screen"/>
</launch>
